<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/imageViewer.css" />
		<link rel="stylesheet" href="../../css/paper_detail.css" />
		<style type="text/css">
			.mui-input-row {
				width: 100%;
				height: 50px;
				position: absolute;
				bottom: 0;
			}
			
			.mui-input-row input {
				width: 85%;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<span class="mui-icon mui-action-back mui-icon-back mui-badge-primary mui-badge-inverted"> </span>
			<h1 id="xiangqing" class="mui-title mui-badge-primary mui-badge-inverted">日报详情</h1>
		</header>

		<div id="body" class="mui-content">
			<!--<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<img class="mui-pull-left" src="../../images/Assets.xcassets/AppIcon.appiconset/logo_80.png" />
					<div class="mui-pull-left name">刘国奇
						<span class="date">4月23日</span>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<div class="key"><div id="yiwancheng">已完成</div><p> adssaddadsasdsad</p></div>
				</li>
				<li class="mui-table-view-cell">
					<div class="key"><div id="weiwancheng">未完成</div><p> </p></div>
				</li>
				<li class="mui-table-view-cell">
					<div class="key"><div id="xuxiezhu">需协调</div><p> </p></div>
				</li><li class="mui-table-view-cell">
					<div class="key"><div id="beizhu">备注</div><p> </p></div>
					 
				</li>
			</ul>
			 <div></div>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right " href="#"> 回复</a>
					<div class="mui-collapse-content">
						<div>
							<div class="top">
								<img src="images/Assets.xcassets/AppIcon.appiconset/logo_58.png" />
								<div class="information_below">
									刘国奇
									<span class="date">45分钟前</span>
								</div>
								<div class="small_content">
									<div>恭喜恭喜</div>
								</div>
							</div>
						</div> 

					</div>
				</li>
			</ul>
			<div class="mui-input-row">
				<input type="text" id="comment" class="mui-input" placeholder=" ">
				<button class="mui-icon mui-icon-paperplane" onclick="sendComment()"> </button>
			</div>-->
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.2.1.js" ></script>
		<script type="text/javascript" src="../../js/jquery.i18n.properties-min-1.0.9.js" ></script>
		<script type="text/javascript" src="../../js/languagemore.js" ></script>
		<script type="text/javascript" src="../../js/day_paper_detail.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript">
			//实现查看大图 
			mui.previewImage();
			mui.init()
			var id;
			var this_phoneNum;
			mui.plusReady(function() {
				ready();
				this_phoneNum = localStorage.getItem('phoneNum');
				var self = plus.webview.currentWebview();
				id = self.the_id;
				sendRequest();
			});
			function sendComment() {
				var content = document.getElementById('comment').value;
		 
				mui.ajax('http://121.42.29.124/workoa/index.php?s=/Api/Ribao/addribaopinglun/', {
					data: {
						ribaoid: id,
						replyuserid: phoneNum,
						content:content,						
					},
					timeout: 1000,
					type: 'post',
					success: function(data) {
						mui.alert(JSON.stringify(data));
						sendRequest()
					},
					error: function() {
						mui.toast("error");
					}
				})
			}
		</script>
	</body>

</html>