<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
		<script src="../../js/mui.min.js"></script>
		<style>
			.img {
				max-height: 48px;
				max-width: 48px;
				border-radius: 50%;
				margin: 5px;
				float: left;
			}
			
			.name {
				margin: 5px;
				float: left;
			}
			
			.date {
				float: left;
				color: darkgray;
				font-size: 14px;
				margin: 5px;
			}
			
			.content {
				float: left;
			}
			
			.vacation {
				color: red;
				margin: 5px;
				float: left;
			}
			
			.mui-btn-primary {
				float: right;
			}
		</style>
	</head>

	<body>
		<!--下拉刷新容器-->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul id="table" class="mui-table-view mui-table-view-chevron">

					 
					<li class="mui-table-view-cell">
						<img class="img" src="../../images/lunbo1.jpg" />
						<div class="content">
							<p>
								<div class="name">王广明</div>
								<div class="date">
									5月13号
								</div>

							</p>
							<p class="vacation">产假</p>

						</div>
						<button class="mui-btn mui-btn-primary mui-btn-outlined">通过</button>

					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/jquery-3.2.1.js" ></script>
		<script type="text/javascript" src="../../js/jquery.i18n.properties-min-1.0.9.js" ></script>
		<script type="text/javascript" src="../../js/languagemore.js" ></script>
		<script src="js/mui.min.js"></script>
		<script>
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			mui.plusReady(function(){
				ready();
				pulldownGetData();
			})
			mui('.mui-table-view').on('tap', '.mui-table-view-cell', function() {
				var cell_id = this.getAttribute('id');
				mui.openWindow({
					url: 'finance_detail.html',
					id:'finance_detail.html',
					extras:{
						the_id:cell_id,
					}
				});
			});
			//上拉加载
			function pullupRefresh() {
				pullupGetData();
				 mui('#pullrefresh').pullRefresh().endPullupToRefresh(); 

			}

			function pulldownRefresh() {
				pulldownGetData();
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh();

			}

			var companyId = localStorage.getItem('companyId');
			var phoneNum = localStorage.getItem('phoneNum');
			var thePage = 1;
			window.addEventListener('refresh',function(){
				pulldownGetData();
			});
			function pulldownGetData() {
				thePage=1;
				mui.ajax('http://121.42.29.124/workoa/index.php?s=/Api/Caiwu/getcaiwugeren/', {
					data: {
							userid:phoneNum, 
							page:thePage,
							num:10
					},
					type:'post',
					timeout:10000,
					success:function(data){
						//mui.alert(JSON.stringify(data));
						mui.toast(data.msg);
						var table = document.getElementById('table');
						table.innerHTML = "";
						if(data.flag==200){
							var result = data.result;
							for(var i=0;i<result.length;i++){
								var status;
								if(result[i].status==10){
									status = "未通过";
								}else if(result[i].status==20){
									status = "通过";
								}
								var li = document.createElement('li');
								li.className = 'mui-table-view-cell';
								li.id = result[i].id;
								li.innerHTML = '<img class="img" src= "'+result[i].fabupersonlogo+'" />'
															+'<div class="content"><p><div class="name">'+result[i].username+'</div>'
															+'<div class="date">'+result[i].writetime+'</div></p>'
															+'<p class="vacation">'+result[i].typename+'</p></div>'
															+'<button class="mui-btn mui-btn-primary mui-btn-outlined">'+status+'</button>'
								table.appendChild(li);
							}
						}
					},
					error:function(){
						mui.alert("财务有错");
					}
				})
			}
			function pullupGetData(){
				thePage++;
				mui.ajax('http://121.42.29.124/workoa/index.php?s=/Api/Caiwu/getcaiwugeren/', {
					data: {
							userid:phoneNum, 
							page:thePage,
							num:10
					},
					type:'post',
					timeout:10000,
					success:function(data){
						//mui.alert(JSON.stringify(data));
						mui.toast(data.msg);
						var table = document.getElementById('table');
						if(data.flag==200){
							var result = data.result;
							for(var i=0;i<result.length;i++){
								var status;
								if(result[i].status==10){
									status = "未通过";
								}else if(result[i].status==20){
									status = "通过";
								}
								var li = document.createElement('li');
								li.className = 'mui-table-view-cell';
								li.id = result[i].id;
								li.innerHTML = '<img class="img" src= "'+result[i].fabupersonlogo+'" />'
															+'<div class="content"><p><div class="name">'+result[i].username+'</div>'
															+'<div class="date">'+result[i].writetime+'</div></p>'
															+'<p class="vacation">'+result[i].typename+'</p></div>'
															+'<button class="mui-btn mui-btn-primary mui-btn-outlined">'+status+'</button>'
								table.appendChild(li);
							}
						}
					},
					error:function(){
						mui.alert("财务有错");
					}
				})
			}
		</script>
	</body>

</html>