<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.dtpicker.css" />

		<style type="text/css">
			header h1 {
				color: #007AFF;
			}
			
			.mui-icon-left-nav {
				font-size: 20px;
			}
			
			.mui-content .reason .small_title {
				padding: 10px;
				font-family: "微软雅黑";
				font-size: 16px;
				color: #777777;
			}
			
			.mui-content .mui-table-view .mui-table-view-cell {
				font-size: 18px;
			}
			
			.mui-content .mui-table-view .mui-table-view-cell .mui-pull-right {
				padding-right: 20px;
				color: #BBBBBB;
				font-size: 15px;
				font-family: "微软雅黑";
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="add" class="mui-btn mui-btn-primary mui-btn-nav mui-btn-link mui-pull-right">
				<span class="mui-icon mui-icon-checkmarkempty"></span>
			</button>
			<h1 id="xinzen" class="mui-title" style="color: #007AFF;">新增请示</h1>
		</header>

		<div class="mui-content">
			<div class="reason">
				<div id="liyou" class="small_title">请假理由</div>
				<div class="mui-input-row">
					<textarea id="content" rows="10"></textarea>
				</div>
			</div>

			<ul class="mui-table-view">
				<li class="mui-table-view-cell" id="category">
					<a class="mui-navigate-right">
						<span id="leixing">请假类型</span>
						<div class="mui-pull-right" id="selet_category"> </div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" id="beginTime">
						<span id="kaishishijian">开始时间</span>
						<span id="befinTimeResult" class="mui-pull-right"></span>
					</a>
				</li>
				<li class="mui-table-view-cell" id="endTime">
					<a class="mui-navigate-right">
						<span id="jieshushijian">结束时间</span>
						<span id="endTimeResult" class="mui-pull-right"></span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<span id="tianshu">请假天数</span>
					<span class="mui-pull-right" id="days">0</span>
				</li>
				<li class="mui-table-view-cell">
					<a id="requestList" class="mui-navigate-right">
						<span id="jieshouren">请示对象</span>
						<span id="requesttext" class="mui-pull-right"> </span>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script type="text/javascript" src="../../js/mui.dtpicker.js"></script>
		<script type="text/javascript" src="../../js/mui.poppicker.js"></script>

		<script type="text/javascript" src="../../js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../../js/jquery.i18n.properties-min-1.0.9.js"></script>
		<script type="text/javascript" src="../../js/languagemore.js"></script>

		<script type="text/javascript">
		 
			var vacationType;
			var peroid;
			var requestPerson = 1;
			var  startDate,endDate;
			mui.init();
			mui.ready(function() {
				ready();
				begin_date = new Date(2010, 1, 1);
				end_date = new Date(2010, 1, 1);
				//请假类型选择器
				var category = new mui.PopPicker();
				category.setData([{
					value: 'shijia',
					text: '事假'
				}, {
					value: 'bingjia',
					text: '病假'
				}, {
					value: 'chanjia',
					text: '产假'
				}, {
					value: 'nianjia',
					text: '年假'
				}]);
				var categorySelector = document.getElementById('category');
				var category_result = document.getElementById('selet_category');
				categorySelector.addEventListener('tap', function(event) {
					category.show(function(items) {
						vacationType = items[0].text;
						category_result.innerText = items[0].text;
					});
				}, false);

				//开始时间选择器
				var begin_time = new mui.DtPicker({
					type: "date",
					beginDate: new Date(2015, 4, 15),
					endDate: new Date(2020, 4, 15),
					labels: ["年", "月", "日"],
				});
				var beginTime = document.getElementById('beginTime');
				var beginTimeResult = document.getElementById('befinTimeResult');
				beginTime.addEventListener('tap', function(event) {
					begin_time.show(function(items) {
						beginTimeResult.innerText = items;
						startDate = new Date(items); //记录起始时间
						console.log(startDate);
						begin_date = new Date(items); 
						if(begin_date.getTime() - end_date.getTime() < 0) {
							var length = end_date.getTime() - begin_date.getTime();
							var days = length / (1000 * 60 * 60 * 24);
							peroid = days; //记录请假天数
							document.getElementById("days").innerText = days;
						} else {
							document.getElementById("days").innerText = "0";
						}
					});
				}, false);

				//结束时间选择器
				var end_time = new mui.DtPicker({
					type: "date",
					beginDate: new Date(2015, 4, 15),
					endDate: new Date(2020, 4, 15),
					labels: ["年", "月", "日"],
				});
				var endTime = document.getElementById('endTime');
				var endTimeResult = document.getElementById('endTimeResult');
				endTime.addEventListener('tap', function(event) {
					end_time.show(function(items) {
						endTimeResult.innerText = items;
						endDate = items;
						end_date = new Date(items);
						
						if(begin_date.getTime() - end_date.getTime() < 0) {
							var length = end_date.getTime() - begin_date.getTime();
							var days = length / (1000 * 60 * 60 * 24);
							peroid = days; //记录请假天数
							document.getElementById("days").innerText = days;
						} else {
							document.getElementById("days").innerText = "0";
						}
					});
				}, false);

			});
			var formatDateTime = function(date) {
				var y = date.getFullYear();
				var m = date.getMonth() + 1;
				m = m < 10 ? ('0' + m) : m;
				var d = date.getDate();
				d = d < 10 ? ('0' + d) : d;  
				return y + '-' + m + '-' + d  ;
			};

			var addRequest = document.getElementById('add'); //提交请求按钮的监听事件
			var requestList = document.getElementById('requestList'); //获取请示对象
			addRequest.addEventListener('tap', function() {
				uploadRequest();
			})
			requestList.addEventListener('tap', function() {
				mui.openWindow({
					url: 'request_person.html',
					id: 'request_person.html',
				});
			})

			window.addEventListener('requestPerson', function(event) {
				//获得事件参数
				var id = event.detail.id;
				var name = event.detail.name;
				requestPerson = parseInt(id); 
				document.getElementById('requesttext').innerText = name;
			})
			var companyId = localStorage.getItem('companyId');
			var phoneNum = localStorage.getItem('phoneNum');

			function uploadRequest() {
				var Content = document.getElementById('content').value;
				//				mui.alert(Content);
				//				mui.alert(vacationType + " " + startDate);
				mui.ajax('http://121.42.29.124/workoa/index.php?s=/Api/Ribao/addshenpi/', {
					data: {
						userid: phoneNum,
						type: vacationType,
						starttime: begin_date,
						endtime: end_date,
						qingjiadays: peroid,
						content: Content,
						receivid: requestPerson,
						companyid: companyId,
					},
					type: 'post',
					timeout: 10000,
					success: function(data) {
						var request = plus.webview.getWebviewById('request_sub.html');
						mui.fire(request, 'refresh', {});
						mui.openWindow({
							id: 'request_main.html',
						})
					},
					error: function() {
						mui.alert("网络错误");
					}
				});
			}
		</script>
	</body>

</html>