<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/cropper.min.css" />
		<link rel="stylesheet" href="../../css/mui.cropper.css" />

		<style type="text/css">
			header h1 {
				font-family: "微软雅黑";
			}
			
			.mui-input-group {
				margin-top: 30px;
			}
			
			img {
				width: 100px;
				height: 100px;
				margin: 10px;
				float: left;
			}
			
			label {
				font-size: 18px;
				font-weight: 500;
			}
			
			input {
				font-weight: 500;
			}
			
			.mui-input-group .mui-pull-left {
				line-height: 40px;
				font-size: 18px;
				font-weight: 500;
			}
			
			.mui-icon-location {
				float: right;
				margin-right: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="finish" class="mui-btn mui-btn-link mui-btn-nav mui-pull-right">
				<span class="mui-icon mui-icon-checkmarkempty"></span>
			</button>
			<h1 id="xinzen" class="mui-title" style="color: #007AFF;">新建图片</h1>
		</header>

		<div class="mui-content">

			<form class="mui-input-group">
				<div class="mui-input-row">
					<label id="biaoti"  >标题</label>
					<input id="title" type="text" class="mui-input-clear" placeholder=" " />
				</div>
				<div class="mui-input-row">
					<label id="miaoshu"  >描述</label>
					<input id="content" type="text" class="mui-input-clear" placeholder=" " />
				</div>
				<div class="mui-input-row">
					<label id="fabuzhe">发布者</label>
					<input type="text" class="mui-input-clear" />
				</div>
				<div class="mui-input-row">
					<label id="shijian" >时间</label>
					<input type="text" class="mui-input-clear" />
				</div>
				<div class="mui-input-row">
					<label id="didian"  >地点</label>
					<input type="text" id="address" class="mui-input-clear" />
				</div>
			</form>

			<div style="text-align: center;">
				<div id="photos">

				</div>
				<a id="pick" href="#cropper-sheet">
					<img id="image" src="../../images/Assets.xcassets/+.imageset/+@2x.png" />
				</a>
			</div>

			<!--选择照片-->
			<div id="cropper-sheet" class="mui-popover mui-popover-bottom mui-popover-action">
				<!-- 可选择菜单 -->
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a id="paizhao" data-type="camera">拍照</a>
					</li>
					<li class="mui-table-view-cell">
						<a id="xiangce" data-type="gallery">相册</a>
					</li>
				</ul>

			</div>
		</div>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=kTXsdvEmz65B7bef2MAVKG2nx4wlA9It"></script>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/new_picture.js"></script>
		<script type="text/javascript" src="../../js/cropper.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../../js/jquery.i18n.properties-min-1.0.9.js"></script>
		<script type="text/javascript" src="../../js/languagemore.js"></script>

		<script type="text/javascript">
			mui.init();
			var jingDu;
			var weiDu;
			var Address;
			mui.plusReady(function() {
				ready();
				getGeocode();
				createUploader();
			})
			mui('#cropper-sheet').on('tap', '.mui-table-view-cell > a', function() {
				var type = this.getAttribute('data-type');
				mui("#cropper-sheet").popover('hide');
				switch(type) {
					case 'camera':
						clickCamera();
						break;
					case 'gallery':
						clickGallery();
						break;
					default:
						break;
				}
			})

			 // 通过定位模块获取位置信息
	function getGeocode() {
		plus.nativeUI.showWaiting();
		var getOptions = {
			//是否使用高精度设备，如GPS。默认是true  
			enableHighAccuracy: true,
			//超时时间，单位毫秒，默认为0  
			timeout: 5000,
			//使用设置时间内的缓存数据，单位毫秒  
			//默认为0，即始终请求新数据  
			//如设为Infinity，则始终使用缓存数据  
			maximumAge: 0
		};
		plus.geolocation.getCurrentPosition(showLocation, function(e) {
			mui.toast("获取定位位置信息失败：" + e.message);
		}, getOptions);
	}
	//处理定位后的信息
	function showLocation(r) {
		jingDu = r.coords.longitude;
		weiDu = r.coords.latitude; 
		Address=r.addresses;
		console.log(Address)
		var address = document.getElementById('address');
		address.value=Address;
		address.readOnly = 'readonly';
		plus.nativeUI.closeWaiting();
		//	centerPointer = new BMap.Point(r.coords.longitude, r.coords.latitude);
		//	exchange();
	}
		</script>
	</body>

</html>