<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
	</head>
	<style>
		#text {
			margin: 10px;
		}
		
		.mui-icon {
			margin: 3px;
			width: 50%;
		}
		
		.photo {
			width: 30%;
			margin: 3px;
			max-height: 200px;
		}
	</style>

	<body>
		<!--下拉刷新容器-->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div id="table">
				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						<img src="../images/logo.png" />
						<div class="mui-media-body">
							小M
							<p>发表于 2016-06-30 15:30</p>
						</div>
					</div>
					<div class="mui-card-content">
						<div id="text" class="mui-ellipsis-2">
							这样可以吗？
						</div>
						<div class="photos">
							<img style="width: 30%;" class="mui-icon" src="../../images/lunnbo2.jpg" data-preview-src="" data-preview-group="1" />
						</div>
					</div>
					<div class="mui-card-footer">
						<!--<div class="like"><img class="like_img" src="../../images/Assets.xcassets/heart.imageset/heart@2x.png" /> 
								<div class="num_like">'+result[i].laud_count+'</div></div>'+
								<div class="comment"><div class="comment_img">'+result[i].comment_count+'</div><img class="num_comment" src="../../images/Assets.xcassets/comment_fill.imageset/comment_fill@2x.png"  />'+
							</div>-->
						<a id="like" class="mui-card-link"><img class="mui-icon" src="../../images/Assets.xcassets/heart.imageset/heart@2x.png" /> 15
						</a>
						<a id="comment" class="mui-card-link"> <img class="mui-icon" src="../../images/Assets.xcassets/comment_fill.imageset/comment_fill@2x.png" /> 15 </a>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/myDynamics.js"></script>
		<script>
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			mui.plusReady(function(){
				getData(1,"");
			})
			mui('#table').on('tap', '.mui-card', function(event) {
				var id = this.getAttribute('id');
				var target = event.target;
				// mui.alert(target.className);
				var name = target.className;
				if(name != 'photo') {
					if(name == 'mui-icon like') {
						like(id);
					} else if(name == 'mui-icon comment') {
						comment(id);
					} else {
						mui.openWindow({
							url: 'dynamics_detail.html',
							id: 'dynamics_detail.html',
							extras: {
								the_id: id
							}
						})
					}
				}
			})
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed

			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {

				mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。

			}
			if(mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		</script>
	</body>

</html>